Package                 Version
----------------------- ------------
absl-py                 2.1.0       
aiohappyeyeballs        2.4.3       
aiohttp                 3.10.10     
aiosignal               1.3.1       
anndata                 0.9.2       
argcomplete             3.6.2       
asttokens               2.4.1
async-timeout           4.0.3
attrs                   24.2.0
backcall                0.2.0
cachetools              5.5.0
certifi                 2024.8.30
charset-normalizer      3.4.0
click                   8.1.8
cloudpickle             3.1.0
colorama                0.4.6
comm                    0.2.2
contourpy               1.1.1
cycler                  0.12.1
decorator               5.1.1
docrep                  0.3.2
einops                  0.8.0
et-xmlfile              1.1.0
exceptiongroup          1.2.2
executing               2.1.0
filelock                3.15.4
fonttools               4.53.1
frozenlist              1.4.1
fsspec                  2024.6.1
future                  1.0.0
google-auth             2.35.0
google-auth-oauthlib    1.0.0
grpcio                  1.67.1
h5py                    3.11.0
harmonypy               0.0.6
idna                    3.10
importlib_metadata      8.2.0
importlib_resources     6.4.0
iniconfig               2.0.0
ipython                 8.12.3
ipywidgets              8.1.5
jedi                    0.19.1
Jinja2                  3.1.4
joblib                  1.4.2
jupyterlab_widgets      3.0.13
kiwisolver              1.4.5
lightgbm                4.5.0
lightning-utilities     0.11.8
llvmlite                0.41.1
Markdown                3.7
markdown-it-py          3.0.0
MarkupSafe              2.1.5
matplotlib              3.5.3
matplotlib-inline       0.1.7
mdurl                   0.1.2
mpmath                  1.3.0
multidict               6.1.0
natsort                 8.4.0
networkx                3.1
numba                   0.58.1
numpy                   1.24.4
oauthlib                3.2.2
openpyxl                3.1.5
opt_einsum              3.4.0
packaging               24.2
palettable              3.3.3
pandas                  1.4.4
parso                   0.8.4
patsy                   0.5.6
pickleshare             0.7.5
pillow                  10.4.0
pip                     24.0
pipx                    1.7.1
pluggy                  1.5.0
prompt_toolkit          3.0.48
propcache               0.2.0
protobuf                5.28.3
psutil                  6.0.0
pure_eval               0.2.3
pyasn1                  0.6.1
pyasn1_modules          0.4.1
pyDeprecate             0.3.0
Pygments                2.18.0
pyHSICLasso             1.4.2
pynndescent             0.5.13
pyparsing               3.1.2
pyro-api                0.1.2
pyro-ppl                1.9.1
pytest                  8.3.3
python-dateutil         2.9.0.post0
pytorch-lightning       1.3.8
pytz                    2024.1
PyYAML                  5.4.1
requests                2.32.3
requests-oauthlib       2.0.0
rich                    13.9.3
rsa                     4.9
scanpy                  1.9.1
scikit-learn            1.1.3
scipy                   1.10.1
seaborn                 0.13.2
session_info            1.0.0
setuptools              59.5.0
shap                    0.44.1
six                     1.16.0
slicer                  0.0.7
stack-data              0.6.3
statsmodels             0.14.1
stdlib-list             0.10.0
sympy                   1.13.1
tensorboard             2.14.0
tensorboard-data-server 0.7.2
threadpoolctl           3.5.0
tomli                   2.2.1
torch                   1.10.0+cu102
torch-geometric         2.6.1
torchmetrics            1.5.1
torchvision             0.19.1
tqdm                    4.66.5
traitlets               5.14.3
typing_extensions       4.12.2
tzdata                  2024.1
umap-learn              0.5.6
urllib3                 2.2.3
userpath                1.9.2
wcwidth                 0.2.13
Werkzeug                3.0.6
wheel                   0.43.0
widgetsnbextension      4.0.13
yarl                    1.15.2
zipp                    3.19.2
